body {
    background-color: gainsboro;
}

body > div {
    width: 50%;
}

body .demo {
    border-bottom: 1px solid black;
}

body .demo .title {
    margin-top: 20px;
    color: blue;
}

.horizon-align {
    border-right: 1px solid black;
}

.horizon-align P {
    text-align: center;
}

.horizon-align h2 {
    text-align: center;
}

.horizon-align .block-text {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.horizon-align .demo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

