body {
    background-color: gainsboro;
}

body > div {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

body .demo {
    border-bottom: 1px solid black;
}

body .demo .title {
    margin-top: 20px;
    color: blue;
}

.horizon-alignxxx {
    border-right: 1px solid black;
}

.horizon-alignxxx P {
    text-align: center;
}

.horizon-alignxxx h2 {
    text-align: center;
}

.horizon-alignxxx .block-text {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.horizon-alignxxx .demo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.vertical-alignxxx .block-table-cell {
    height: 20em;
    display: table-cell;
    vertical-align: middle;
    background-color: pink;
}

.vertical-alignxxx .block-position {
    position: relative;
    height: 10em;
    background-color: pink;
}

.vertical-alignxxx .block-position p {
    position: absolute;
    margin: 0px;
    top: 50%;
    transform: translate(0, -50%);
}

.vertical-alignxxx .block-position-vertical-horizon {
    background-color: pink;
    position: relative;
    height: 10em;
}

.vertical-alignxxx .block-position-vertical-horizon p {
    margin: 0px;
    position: absolute;
    margin-right: -50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*相对于自己的宽高*/
}
