body {
    background-color: gainsboro;
    &> div {
    	display: inline-block;
        width: 48%;
        vertical-align: top;
    }
    .demo {
        border-bottom: 1px solid black;
        .title {
        	margin-top: 20px;
        	color: blue;
        }
    }
}
.horizon-alignxxx {
    border-right: 1px solid black;
    P {
        text-align: center
    }
    h2 {
        text-align: center
    }
    .block-text {
        margin-left: auto;
        margin-right: auto;
        width: 6em;
    }
    .demo > img {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 20em;
    }
}

.vertical-alignxxx {
	.block-table-cell {
		height: 20em;
		display: table-cell;
		vertical-align: middle;
		background-color: pink;
	}

	.block-position {
		position: relative;
		height: 10em;
		p {
			position: absolute;
			margin: 0px;
			top: 50%;
			transform: translate(0,-50%);
		}
		background-color: pink;
	}
	.block-position-vertical-horizon {
		background-color: pink;
		position: relative;
		height: 10em;
		p {
			margin: 0px;
			position: absolute;
			margin-right: -50%; //用来保证窗口变窄不换行
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%); /*相对于自己的宽高*/
		}
	}
}
